// Specific CSS for your home-page

.container-home-page {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.8)), url(signaturebis.jpg);
  background-position: center;
  background-size: cover;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.main-infos {
  font-family: 'Poppins', sans-serif;
}

.container-home-page h1 {
  color: white;
  text-shadow: 0px 0px 5px #fff;
  font-size: 48px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.container p {
  font-size: 24px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
}



// description
.description {
  padding: 182px;
  color: white;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.8)), url(contract1.jpg);
  background-position: center;
  background-size: cover;
  top: 0;
  align-items: center;
  text-align: center;
}

.description, h2 {
  font-family: 'Arial', sans-serif;
  text-align: center;
}


/////////////////pricing

.container-pricing {
  text-align: center;
  font-family: 'Arial';
  color: white;
  line-height: 16px;
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.8)), url(contracts2.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  top: 0;
  align-items: center;
  text-align: center;
}

.pricing-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-items: stretch;
  padding-bottom : 286px;
  color: black;

.card-body {
  background-color: rgb(238, 238, 238);
  // border: 1px solid rgb(20, 30, 97);
  padding: 1rem;
  min-width: 300px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px white;
}

.card {
  border-radius: 25px;
}

}

.pricing-text  {
  padding: 182px;
  color: white;
  font-family: 'Arial';
}

.pricing-text h3 {
  line-height: 1.4;
}

// carousel

.carousel-inner img {
  margin: auto;
  width: auto;
  max-height: 768px;
  overflow: hidden;
}

#companies-text {
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 300px;
}

.companies-carousel {
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.8)), url(contract3.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  top: 0;
  align-items: center;
  text-align: center;
}
