// // Specific CSS for your home-page

.main-section {
  position: relative;
  height: 90vh;
  background-color: #1992F7;
  overflow: hidden;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  z-index: 1000;
}

.main-section-text{
  z-index: 200;
}

.underline {
  border-bottom: 5px solid white;
}

.polygon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}


// SECTION HOW

.section-how {
  background-color: #fff;
  height: 100vh;
  padding: 140px 5rem;
}

.section-how-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.section-how-cards .card {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  width: 450px;
  min-width: 450px;
  max-width: 200px;
  height: 310px;
  min-height: 310px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.ionicon-how {
  font-size: 75px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}


// SECTION WHY

.section-why {
  background-color: #f1f1f1;
  padding: 5rem;
  height: 100vh;
}

.section-why h2 {
  display: inline-block;
  border-bottom: 3px solid #1992F7;
  margin-bottom: 4rem;
  font-size: 36px;
  font-weight: bold;
}

.section-why ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  height: 100%;
}

.section-why li {
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 5rem;
  letter-spacing: 1px;
}

.main-page-keywords {
  background-color: rgba(25, 147, 247, 0.2);
  margin-left: 2rem;
}

.ionicon-why {
  transform: scale(2);
}

// SECTION PRICING

.section-pricing {
  background-color: #fff;
  height: 100vh;
  padding: 140px 5rem;
}

.section-pricing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.section-pricing-cards .card {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  width: 390px;
  min-width: 390px;
  height: 310px;
  min-height: 310px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.card h3 {
  margin-bottom: 1rem;
}

.pricing-explanation {
  padding-bottom: 90px;
}

// scrolling stuff - Sarah
.scroll-container {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.scroll-snap {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

////////footer - Sarah

.footer {
  padding: 40px 0 24px;
  background: #044376;
}

.container-footer {
  display: flex;
}

.card-deck-footer {
  display: flex;
  align-content: flex-end;
}

.card-footer {
  background: #044376;
  color: white;
}

.footer hr {
  border-color: white;
  border: 2px;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-left: 200px;
  padding-right: 200px
}

.social-icons {
  color: white;
  text-align: right;
  font-size: 40px;
}
