// // Specific CSS for your home-page

.main-section{
  position: relative;
  height: 90vh;
  background-color: #1992F7;
  overflow: hidden;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  z-index: 1000;
}

.main-section-text{
  z-index: 200;
}

// .main-section-img{}

.underline {
  border-bottom: 5px solid white;
}

.polygon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

// SECTION WHY

.section-why {
  background-color: #f1f1f1;
  padding: 5rem;
}

// .section-why h2 {
//   display: inline-block;
//   border-bottom: 3px solid #1992F7;
//   margin-bottom: 4rem;
//   font-size: 36px;
//   font-weight: bold;
// }

.section-why li {
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 5rem;
  letter-spacing: 1px;
}

.main-page-keywords {
  background-color: rgba(25, 147, 247, 0.2);
  margin-left: 2rem;
}

.ionicon-why {
  transform: scale(2);
}

// SECTION HOW

.section-how {
  background-color: #fff;
  padding: 5rem;
}

.section-how-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section-how-cards .card {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  width: 460px;
  min-width: 460px;
  height: 310px;
  min-height: 310px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.ionicon-how {
  font-size: 5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

// Specific CSS for your home-page

// scrolling stuff - Sarah
.scroll-container {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.scroll-snap {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

// .main-infos {
//   font-family: 'Poppins', sans-serif;
// }

// /////new homepage stuff - Amin

// h1 {
//   font-size: 5rem;
//   text-align: center;
//   color: white;
//   font-weight: bolder;
//   z-index: 1000;
// }

// .main-section-text{
//   z-index: 200;
// }

// .underline {
//   border-bottom: 5px solid white;
// }

// .polygon {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   z-index: 100;
// }


// /////Pricing - Sarah


// .desc-cards {
//   display: flex;
//   justify-content: space-around;
//   align-items: flex-end;
//   align-items: stretch;
//   color: black;
//   gap: 32px;
// }

// .desc-card-body {
//   background-color: rgb(238, 238, 238);
//   // border: 1px solid rgb(20, 30, 97);
//   padding: 1rem;
//   min-width: 300px;
//   width: 300px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px white;
// }




/////////////////pricing - Sarah

.container-pricing {
  text-align: center;
  font-family: 'Arial';
  color: white;
  line-height: 16px;
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.8)), url(contracts2.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  top: 0;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-items: stretch;
  color: black;
  gap: 32px;

}

  .pricing-text  {
  padding: 64px 0px;
  color: white;
  font-family: 'Arial';
  }


// carousel
.companies-carousel {
  background-image: linear-gradient(rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.8)), url(contract3.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  top: 0;
  align-items: center;
  text-align: center;
}

.companies-carousel img {
  height: 75vh;
  object-fit: contain;
  object-position: center;
}

// #companies-text {
//   color: white;
//   text-align: center;
//   font-family: Arial, sans-serif;
//   line-height: 25vh;
// }


// //////footer - Sarah
// .footer {
//   background: #044376;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 100px;
//   padding: 0px 50px;
//   color: white;
// }


// FOOTER TEXT
#footer-text, h3 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 100px;
}

#footer-text, h5 {
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}


// FOOTER CARDS

.footer-cards-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  top: 0;
  align-items: center;
  text-align: center;
}

.card-body-footer {
  background-color: rgb(238, 238, 238);
  // border: 1px solid rgb(20, 30, 97);
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px white;
}

.card-footer {
  border-radius: 25px;
  background-color: none;
  flex-grow: 1;
}
