// Specific CSS for your home-page

.main-section {
  position: relative;
  height: 90vh;
  background-color: #1992F7;
  overflow: hidden;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: white;
  font-weight: bolder;
  z-index: 1000;
  line-height: 6.5rem;
}

.main-section-text{
  z-index: 200;
}

.main-section-img {
  z-index: 200;
  transform: scale(0.8);
}

.underline {
  border-bottom: 5px solid white;
}

.polygon {
  position: absolute;
  bottom: -150px;
  left: 0;
  z-index: 100;
}


// SECTION HOW

.section-how {
  background-color: #fff;
  height: 100vh;
  padding: 5rem;
}

.section-how-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.section-how-cards .card {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  width: 30rem;
  // min-width: 300px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.ionicon-how {
  font-size: 5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.card h3 {
  margin-bottom: 2rem;
}

// SECTION WHY

.section-why {
  background-color: #f1f1f1;
  padding: 5rem;
  height: 100vh;
}

.section-why h2 {
  display: inline-block;
  border-bottom: 3px solid #1992F7;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: bold;
}

.section-why ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 80%;
}

.section-why li {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.main-page-keywords {
  background-color: rgba(25, 147, 247, 0.2);
  margin-left: 2rem;
}

.ionicon-why {
  transform: scale(2);
}

// SECTION PRICING

.section-pricing {
  background-color: #fff;
  height: 100vh;
  padding: 5rem;
}

.section-pricing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.section-pricing-cards .card {
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  width: 30rem;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.section-pricing-cards .card .section-title {
  font-size: 2rem;
}

.card h3 {
  margin-bottom: 1rem;
  width: 100%;
}

.card h6 {
  font-size: 1.2rem;
}

.card p {
  padding-top: 2rem;
  font-size: 1.3rem;
}

.pricing-explanation {
  padding-bottom: 9rem;
  text-align: center;
}

.pricing-desc {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 4rem;
}

// scrolling stuff - Sarah
.scroll-home {
  scroll-snap-type: y mandatory;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat (100vh);
}

.scroll-snap {
  scroll-snap-align: start;
}

//////// FOOTER - SARAH

.footer {
  padding: 40px 0 24px;
  background: #044376;
}

.container-footer {
  display: flex;
}

.card-deck-footer {
  display: flex;
  align-content: flex-end;
}

.card-footer {
  background: #044376;
  color: white;
}

.footer hr {
  border-color: white;
  border: 2px;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-left: 2rem;
  padding-right: 20rem
}

.social-icons {
  color: white;
  text-align: right;
  font-size: 4rem;
}


// MEDIA QUERIES

@media (max-width: 1175px) {
  html {
    font-size: 50% !important;
  }

  .section-why ul {
    margin-top: 4rem;
  }

  .section-why li {
    margin-bottom: 4rem;
  }

}

@media (max-width: 1050px) {
  html {
    font-size: 40% !important;
  }

  .section-how-cards .card {
    width: 30rem;
  }

  // .section-how-cards .card {
  //   width: 20rem;
  // }
}

@media (max-width: 815px) {
  .main-section-img {
    display: none;
  }
}

@media (max-height: 825px) {
  html {
    font-size: 28% !important;
  }

  .pricing-desc {
    margin-top: unset;
  }

  .section-pricing-cards {
    gap: 2rem;
  }

  .pricing-explanation {
    padding-bottom: 4rem;
  }

  .section-how-cards {
    gap: 2rem;
  }
}
