<h3>All contracts (for given user) with all attributes</h3>
<% @contracts.each do |contract| %>
  <p><em>Contract id</em>: <%= contract.id %></p>
<% end %>

<h3>Unsigned contracts (for given user) with all attributes</h3>
<% @contracts.where(fully_signed_at: nil).each do |contract| %>
  <p><em>Contract id</em>: <%= contract.id %></p>
<% end %>

<h3>Signed contracts (for given user) with all attributes</h3>
<% @contracts.where.not(fully_signed_at: nil).each do |contract| %>
  <p><em>Contract id</em>: <%= contract.id %></p>
<% end %>
