<div class="container">
  <h2>Outstanding contracts</h2>
</div>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="contract preview">
  <div class="card-body">
    <h5 class="card-title">Contract</h5>
    <p class="card-text">Lorem Ipsum</p>
    <a href="#" class="btn btn-primary">Open contract</a>
  </div>
</div>
