<h3><%= @contract.name %></h3>
<p><em>Description</em>: <%= @contract.description %></p>
<p><em>Status</em>: <%= @contract.status %></p>
<p><em>Receiver</em>: <%= @contract.individual.user.email %></p>