<% content_for :meta_title, "#{@contract.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @contract.description %>

<div class="contracts-section">
  <h2 class="section-title">Signed contracts</h2>

  <div data-controller="search-contracts">
    <%= form_tag signed_path, method: :get, data: { search_contracts_target: 'form' } do %>
      <%= text_field_tag :query, params[:query], class: "search-bar", placeholder: "Search a contract by name or description", data: { search_contracts_target: 'input', action: "keyup->search-contracts#update" } %>
      <%= submit_tag "Search", class: "d-none" %>
    <% end %>

    <div class="all-contracts" data-search-contracts-target="contracts">
      <%= render 'contracts/contracts.html', contract: @contracts %>
    </div>
  </div>

</div>
