<div class="navbar-side">
  <div>
    <h3> Signed in as: <%= current_user.role %></h3>
  </div>
  <%# if current_user.role = Company %>
  <div>
    <%= link_to "Dashboard", contracts_path, class: "nav_button" %>
  </div>
  <div>
    <%= link_to "New Contract", new_contract_path, class: "nav_button" %>
  </div>
  <div>
    <%= link_to "Logout", contracts_path, class: "nav_button" %>
  </div>
</div>
