<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>You wanna make your signing process easy AF ? Click below !</h1>
 <%= link_to "Let's get started", new_user_registration_path %>
</div>
