
<div class="banner">
  <h1 class="display-4 font-weight-bold">Make your signing process easy AF</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<%# <div class="mx-auto" style="width: 700px;">
  <h2>See all of your contracts in one place. Sign a contract with the click of a button. Never lose a contract again.</h2>
  <a class="btn-gradient"><%= link_to "Let's get started", new_user_registration_path %></a>
<div> %>
