<div class="scroll-container" id="scroll-container">
  <div class="container-home-page scroll-snap">
    <div class="container main-infos">
      <h1>Signing contracts made easy.</h1>
      <p>See all of your contracts in one place</p>
      <p>Sign a contract with the click of a button</p>
      <p style="margin-bottom: 4rem">Never lose a contract again</p>
      <%= link_to "Let's get started", new_user_registration_path, class: "home-button" %>
    </div>
  </div>


  <%# /////////////////////DESCRIPTION///////////////// %>
    <div class="description scroll-snap">
      <h2 class="font-weight-bold">About EZ-Contract</h2>
      <br>
      <h2>Send</h2>
      <h5>EZ-Contract allows companies to upload and send contracts to users, saving you time and money.</h5>
      <br>
      <h2>Sign</h2>
      <h5>EZ-Contract allows users to view and sign contracts at the click of a button.</h5>
      <br>
      <h2>Save</h2>
      <h5>All of your contracts are always accessible once you have signed in.</h5>
      <h5>No more storing paper contracts, and no more losing contracts.</h5>
    </div>

   <%# <div class="description scroll-snap">
      <h4 class="font-weight-bold">Why EZ-Contract?</h4>
      <br>
      <h2>Environmentally friendly. Cloud storage. Quick.</h2>
      <h2>Easy. Accessible from anywhere.</h2>
      <br>
      <h4 class="font-weight-bold">How does it work?</h4> %>

    <%# <div class="desc-container-cards">
          <div class="desc-cards">
            <div class="card-desc" style="width: 18rem;">
              <div class="desc-card-body">
                <h5 class="card-title">Send</h5>
                <p class="card-text">EZ-Contract allows companies to upload and send contracts to users, saving you time and money.</p>
              </div>
            </div>

            <div class="card-desc" style="width: 18rem;">
              <div class="card-body">
                <h5 class="desc-card-title">Sign</h5>
                <p class="card-text">EZ-Contract allows users to view and sign contracts at the click of a button.</p>
              </div>
            </div>

            <div class="card-desc" style="width: 18rem;">
              <div class="desc-card-body">
                <h5 class="card-title">Save</h5>
                <p class="card-text">No more storing paper contracts, and no more losing contracts.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> %>


  <%# ////////////////////////PRICING/////////////// %>
  <div class="container-pricing scroll-snap">
    <div class="pricing-text">
      <h2>Pricing</h2>
      <h3 class="font-italic">EZ-Contract is always free for individuals</h3>
      <h3 class="font-weight-bold">For companies, EZ-Contract offers a 30-day free trial.<h3>
    </div>


  <%# /////////////////////PRICING CARDS//////////////// %>
    <div class="container-cards">
      <div class="pricing-cards">
        <div class="card-pricing" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Standard</h5>
            <h6 class="font-weight-bold">£7.50 per month</h6>
            <p class="card-text">Send up to 10 contracts each month</p>
          </div>
        </div>

        <div class="card-pricing" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Pro</h5>
            <h6 class="font-weight-bold">£12.99 per month</h6>
            <p class="card-text">Send up to 30 contracts each month</p>
          </div>
        </div>

        <div class="card-pricing" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Advanced</h5>
            <h6 class="font-weight-bold">£20 per month</h6>
            <p class="card-text">Unlimited contracts</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%# ///////////////COMPANIES WE WORK WITH//////////// %>
  <div class="companies-carousel scroll-snap">
    <h2 id="companies-text">Companies we work with:</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-50" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" alt="Google">
        </div>
        <div class="carousel-item">
          <img class="d-block w-50" src="https://www.pngplay.com/wp-content/uploads/12/Pinterest-Logo-PNG-Pic-Clip-Art-Background.png" alt="Pintrest">
        </div>
        <div class="carousel-item">
          <img class="d-block w-50" src="https://1000logos.net/wp-content/uploads/2016/10/Apple_logo_grey.png" alt="Apple">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <%# ///////////////// FOOTER/////////////////// %>
  <div class="container-footer scroll-snap">
    <div id="footer-text">
      <h3>EZ-Contract</h3>
      <h5>Sign contracts at the click of a button</h5>
    </div>

  <%# // FOOTER CARDS %>
    <div class="footer-cards-container">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/3184292/pexels-photo-3184292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
          <div class="card-body-footer">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">FAQ</p>
            <p class="card-text">Press</p>
            <p class="card-text">Contact us</p>
            <p class="card-text">Privacy Policy</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
          <div class="card-body-footer">
            <h5 class="card-title">Resources</h5>
            <p class="card-text">Blog</p>
            <p class="card-text">Development</p>
            <p class="card-text">Events</p>
            <p class="card-text">Webinars</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/273209/pexels-photo-273209.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
          <div class="card-body-footer">
            <h5 class="card-title">Corporate</h5>
            <p class="card-text">Training</p>
            <p class="card-text">Careers</p>
            <p class="card-text">Legal Notice</p>
            <p class="card-text">Our Team</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/607812/pexels-photo-607812.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
          <div class="card-body-footer">
            <h5 class="card-title">Follow us</h5>
            <p class="card-text">Instagram</p>
            <p class="card-text">Twitter</p>
            <p class="card-text">Facebook</p>
            <p class="card-text">Linkedin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
(function() {
	"use strict";
	/*[pan and well CSS scrolls]*/
	var pnls = document.querySelectorAll('.scroll-snap').length,
		scdir, hold = false;

	function _scrollY(obj) {
		var slength, plength, pan, step = 100,
			vh = window.innerHeight / 100,
			vmin = Math.min(window.innerHeight, window.innerWidth) / 100;
		if ((this !== undefined && this.id === 'scroll-container') || (obj !== undefined && obj.id === 'scroll-container')) {
			pan = this || obj;
			plength = parseInt(pan.offsetHeight / vh);
		}
		if (pan === undefined) {
			return;
		}
		plength = plength || parseInt(pan.offsetHeight / vmin);
		slength = parseInt(pan.style.transform.replace('translateY(', ''));
		if (scdir === 'up' && Math.abs(slength) < (plength - plength / pnls)) {
			slength = slength - step;
		} else if (scdir === 'down' && slength < 0) {
			slength = slength + step;
		} else if (scdir === 'top') {
			slength = 0;
		}
		if (hold === false) {
			hold = true;
			pan.style.transform = 'translateY(' + slength + 'vh)';
			setTimeout(function() {
				hold = false;
			}, 1000);
		}
		console.log(scdir + ':' + slength + ':' + plength + ':' + (plength - plength / pnls));
    console.log(step)
	}
	/*[swipe detection on touchscreen devices]*/
	function _swipe(obj) {
		var swdir,
			sX,
			sY,
			dX,
			dY,
			threshold = 100,
			/*[min distance traveled to be considered swipe]*/
			slack = 50,
			/*[max distance allowed at the same time in perpendicular direction]*/
			alT = 500,
			/*[max time allowed to travel that distance]*/
			elT, /*[elapsed time]*/
			stT; /*[start time]*/
		obj.addEventListener('touchstart', function(e) {
			var tchs = e.changedTouches[0];
			swdir = 'none';
			sX = tchs.pageX;
			sY = tchs.pageY;
			stT = new Date().getTime();
			//e.preventDefault();
		}, false);

		obj.addEventListener('touchmove', function(e) {
			e.preventDefault(); /*[prevent scrolling when inside DIV]*/
		}, false);

		obj.addEventListener('touchend', function(e) {
			var tchs = e.changedTouches[0];
			dX = tchs.pageX - sX;
			dY = tchs.pageY - sY;
			elT = new Date().getTime() - stT;
			if (elT <= alT) {
				if (Math.abs(dX) >= threshold && Math.abs(dY) <= slack) {
					swdir = (dX < 0) ? 'left' : 'right';
				} else if (Math.abs(dY) >= threshold && Math.abs(dX) <= slack) {
					swdir = (dY < 0) ? 'up' : 'down';
				}
				if (obj.id === 'scroll-container') {
					if (swdir === 'up') {
						scdir = swdir;
						_scrollY(obj);
					} else if (swdir === 'down' && obj.style.transform !== 'translateY(0)') {
						scdir = swdir;
						_scrollY(obj);

					}
					e.stopPropagation();
				}
			}
		}, false);
	}
	/*[assignments]*/
	var well = document.getElementById('scroll-container');
	well.style.transform = 'translateY(0)';
	well.addEventListener('wheel', function(e) {
		if (e.deltaY < 0) {
			scdir = 'down';
		}
		if (e.deltaY > 0) {
			scdir = 'up';
		}
		e.stopPropagation();
	});
	well.addEventListener('wheel', _scrollY);
	_swipe(well);
})();
</script>
