<div class="container-home-page">
  <div class="container main-infos">
    <h1><strong>Signing contracts made easy.</strong></h1>
    <p>See all of your contracts in one place. Sign a contract with the click of a button. Never lose a contract again.</p>
    <%= link_to "Let's get started", new_user_registration_path, class: "home-button" %>
  </div>
</div>
