<div class="container-home-page">
  <div class="container">
    <h1><strong>Make signing contracts easy AF!</strong></h1>
    <p>See all of your contracts in one place. Sign a contract with the click of a button. Never lose a contract again.</p>
    <button class="home-button" href="#">Let's get started</button>
  </div>
</div>

<%= link_to "Let's get started", new_user_registration_path %>
