.container-contacts {
  display: flex;
  margin-bottom: 4rem;
}

.container-contacts h2 {
  margin-top: 1rem;
}

.container-contacts h3 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.search-bar {
  width: 50%;
}

.side-actions {
  width: 250px;
}

.navbar-side {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-width: 250px;
  background-color: #CEDFF8;
  position: fixed;
}

.individual-buttons .nav_button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #282828;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.content-window {
  text-align: center;
}




.all-contracts {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.contract {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  min-width: 400px;
  width: 400px;
}

.signed {
  background-color:rgba(172, 255, 47, 0.25);
}

.unsigned {
  background-color: rgba(255, 0, 0, 0.25);
}
