
<div class="container my-auto">
  <h1 class="text-center"><%= @company.company_name %></h1>

  <p><%= @company.address %></p>

  <p><%= @company.detail %></p> 

  <%= link_to "Create contract",  new_company_contract_path(@company) %> 
</div>




