<%# <div class="companies-layout"> %>
<body class="company-style">
  <div class="container text-center">
    <h2>Company details</h2>
      <h4>Company name: <%= @company.company_name %> </h4>
      <h4>Company address: <%= @company.address %></h4>
      <h4>Company description: <%= @company.detail %></h4>
  </div>
</div>
</body>

<%= link_to "See all your contracts", contracts_path %>
