.contracts-section {
  background-color: #fff;
  padding: 5rem;

}

.search-bar {
  display: block;
  margin: 0 auto;
  padding: 1rem 1rem;
  width: 30%;
  border-radius: 100px;
  text-align: center;
  border: 1px solid #1992F7;
  margin-bottom: 5rem;
  background-color: #f1f1f1;
  font-size: 1.4rem;

  &:focus {
    box-shadow: 0 0 15px rgba(25, 147, 247, 0.3);
    outline-color: #1992F7;
  }
}

.search-bar::placeholder {
  text-align: center;
  width: 100%;
  transform: scale(1.4);
}

.all-contracts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

}

.all-contracts a {
  text-decoration: none;
}

.contract {
  text-decoration: none;
  background-color: #f1f1f1;
  width: 325px;
  min-height: 220px;
  max-height: 220px;
  position: relative;
  padding: 2rem 1rem;
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: 300ms;

  &:hover {
    text-decoration: none;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(25, 147, 247, 0.6);
    transition: 300ms;
  }
}

.contract-name {
  font-size: 24px;
  color: #313131;
}

// .contract-company-name {
// }

// .contract-individual-name {
// }

// .contract-signature-date {}

.ionicon-arrow {
  display: block;
  transform: scale(3);
  position: absolute;
  right: 25px;
  bottom: 25px;
}
