// #071013
// #1992F7
// #044376

// LEFT

.container-create-contract {
  background-color: #f1f1f1;
}

.container-create-contract #new_contract {
  width: 100%;
  margin: 0 auto;
}

.container-create-contract .form-control {
  border-radius: 4px;
  margin-bottom: 3rem;
  border: none;
}

.container-create-contract label {
  display: none;
}

.container-create-contract .form-control-file {
  text-decoration: none;
}

.container-split {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-contract-form {
  padding: 5rem;
  width: 50%;
}

.container-create-contract .create-contract {
  display: block;
  font-size: 36px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1992F7;
  width: 400px;
  margin: 0 auto;
  margin-top: 5rem;
  transition: box-shadow 400ms;

  &:hover {
    transition: box-shadow 400ms;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  }
}

// RIGHT

.new-contract-img {
  width: 50%;
  height: 90vh;
  overflow: hidden;
}

.img-form {
  width: 100%;
  background-size: cover;
}

.container-create-contract .form-group {
    margin-bottom: -1.5rem;
}
