.container-show-contract {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;


  background-color: #FFF;
  padding: 0 5rem;
}

.container-show-contract .container-text {
  width: 60%;
  padding: 8rem 5rem;
  margin: 0 auto;
  z-index: 500;

  align-self: flex-start;
}

.container-show-contract .container-img {
  position: relative;
  width: 40%;
  height: 90vh;
  background-size: cover;
  background-position: center;

  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 500;
}

// FORM

.title-download {
  display: inline-block;
  position: relative;
}

// .title-download .section-title {
//   position: relative;
// }

.btn-download-contract {
  padding: 0.4rem;
  line-height: 0;
  position: absolute;
  display: block;
  top: 10px;
  right: -7rem;
  transform: scale(4);
  background-color: #f1f1f1;
  border-radius: 300px;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.container-show-contract p {
  font-size: 20px;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.container-show-contract .form-control {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 4px;
  width: 400px;
  margin: 0 auto;
  margin-top: 5rem;
  outline: #1992F7;
  background-color: #f1f1f1;
  height: 3rem;
}


.container-show-contract .create-contract {
  display: block;
  font-size: 36px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1992F7;
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  transition: 400ms;
  border-radius: 4px;

  &:hover {
    transition: 400ms;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px white;
    transform: scale(1.1);
  }
}

.stamp {
  display: inline-block;
  position: relative;
  padding: 0 1rem;
  font-size: 2rem !important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border: 5px solid rgb(0, 255, 0);
  top: -165px;
  right: 205px;
}


// BOTTOM PAGE

.wave-img {
  position: absolute;
  bottom: 0;
  width: 100%;

  z-index: 100;
}













// .container-show-contract {
//   width: 50%;
//   margin: 0 auto;
//   padding: 2rem;
//   border: 1px solid rgb(238, 238, 238);
//   background-color: rgb(20, 30, 97);
//   box-shadow: 0 0 20px rgba(238, 238, 238, 0.5);
//   color: white;
// }

// .container-show-contract h2 {
//   text-align: center;
//   font-weight: bolder;
//   margin-top: 1rem;
//   margin-bottom: 2rem;
// }

// .container-details-show-content h2 {
//   font-family: 'Freehand', cursive;
//   font-size: 3rem;
// }

// .show-keywords {
//   font-weight: bold;
//   font-size: 1.3rem;
//   text-transform: uppercase;
// }

// .container-show-contract .form-control {
//   display: block;
//   text-align: center;
//   margin-top: 2rem;
// }

// .show-sign-btn {
//   text-align: center;
//   display: block;
//   width: 60%;
//   margin: 0 auto;
//   margin-top: 2rem;
// }

// .show-details-btns {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 1rem;
// }
