.container-log-in {
  width: 55%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(20, 30, 97);
  box-shadow: 0 0 20px rgba(238, 238, 238, 0.5);
}

.container-log-in h2 {
  font-family: 'Freehand', cursive;
  color: rgb(238, 238, 238);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.container-log-in .form-inputs {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

#user_remember_me {
  top: 10px !important;
}

.container-log-in .form-check-label {
  font-size: 1rem;
}

.container-extra-btn {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
}
