.container-log-in {
  background-color: #fff;
  padding: 5rem;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.sign-in-form {
  width: 40%;
  margin: 0 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.sign-in-form .new_user {
  width: 90%;
  // margin: 0 auto;
}

.sign-up-img {
  width: 60%;
  margin: 0 auto;
}

.btn-fix {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.container-log-in label {
  display: none;
}

.container-log-in .form-control {
  border-radius: 4px;
  margin-bottom: 3rem;
  border: none;
  background-color: #F1F1F1 !important;
}

.container-log-in .form-check .form-check-label {
  display: block;
}
