.container-details-show {
  background-color: #f1f1f1;
  padding: 5rem;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.details-infos {
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.details-img {
  width: 50%;
}

.details-infos-content {
  width: 100%;
  margin: 0 auto;
}

.details-infos-content p {
  font-size: 2rem;
  line-height: 3rem;
}

// EDIT INDIVIDUAL INFOS
.container-infos-form {
  background-color: #f1f1f1;
  padding: 5rem;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container-form {
 width: 50%;
}

.container-img {
width: 50%;
}

.container-infos-form .form-control {
  border-radius: 4px;
  margin-bottom: 3rem;
  border: none;
}

.container-infos-form label {
  display: none;
}

.individual_signature label{
  display: block !important;
}

.individual_signature {
  margin-top: 2rem;
}
