.container-details-show {
  background-color: #f1f1f1;
  padding: 8rem;
  height: 87.5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.details-infos {
  width: 35%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.details-img {
  width: 65%;
}

.details-infos-content {
  width: 100%;
  margin: 0 auto;
}

.details-infos-content p {
  font-size: 2rem;
  line-height: 3rem;
}

// EDIT INDIVIDUAL INFOS
.container-infos-form {
  background-color: #f1f1f1;
  padding: 5rem;
  // height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container-form {
 width: 40%;
}

.container-img {
width: 60%;
}

.container-infos-form .home-btn {
  margin-top: 3.5rem;
}

.container-infos-form .form-control {
  border-radius: 4px;
  margin-bottom: 3rem;
  border: none;
}

.container-infos-form .section-title {
  font-size: 3rem;
}

.container-infos-form label {
  display: none;
}

.individual_signature label{
  display: block !important;
}

.individual_signature {
  margin-top: 2rem;
}


////////////////////////// MEDIA QUERIES

@media (max-width: 1060px) {
  .details-infos {
    width: unset;
    border-right: none;
  }

  .details-img {
    display: none !important;
  }
}
