.home-btn {
  display: block;
  font-size: 2.6rem;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1992F7;
  // width: 30rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  transition: box-shadow 400ms;
  border-radius: 4px;

  &:hover {
    transition: box-shadow 400ms;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
}

.home-home-btn {
  display: block;
  font-size: 3rem;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1992F7;
  width: 35rem;
  margin: 0 auto;
  margin-top: 6.5rem;
  transition: box-shadow 400ms;
  border: 1px solid #f1f1f1;
  border-radius: 4px;

  &:hover {
    transition: box-shadow 400ms;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}


.pricing-btn {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  background-color: #1992F7;
  width: 20rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  transition: box-shadow 400ms;
  border-radius: 4px;
  border: none;
  transition: 400ms;
  text-transform: uppercase;

  &:hover {
    transition: 400ms;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
}


// MEDIA QUERIES

@media (max-width: 1175px) {
  .home-btn {
    padding: 2rem 0;
  }
}

@media (max-width: 510px) {
  .home-home-btn {
    width: inherit;
  }
}
