.home-btn {
  display: block;
  font-size: 36px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1992F7;
  width: 300px;
  margin: 0 auto;
  margin-top: 6.5rem;
  transition: box-shadow 400ms;
  border-radius: 4px;

  &:hover {
    transition: box-shadow 400ms;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
}

.home-home-btn {
  display: block;
  font-size: 36px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1992F7;
  width: 400px;
  margin: 0 auto;
  margin-top: 6.5rem;
  transition: box-shadow 400ms;
  border: 1px solid #f1f1f1;
  border-radius: 4px;

  &:hover {
    transition: box-shadow 400ms;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}


.pricing-btn {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  background-color: #1992F7;
  width: 200px;
  margin: 0 auto;
  margin-top: 1.5rem;
  transition: box-shadow 400ms;
  border-radius: 4px;
  border: none;
  transition: 400ms;
  text-transform: uppercase;

  &:hover {
    transition: 400ms;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
}





















// .home-button {
//   padding: 12px 32px;
//   border-radius: 4px;
//   text-transform: uppercase;
//   background: rgb(20,30,97);
//   color: rgb(238, 238, 238);
//   font-weight: bold;
//   transition: background-color 100ms;
//   border: 1px solid rgb(238,238,238);
//   width: 50%;
//   margin: 0 auto;

//   &:hover{
//     text-decoration: none;
//     background: rgb(238, 238, 238);
//     color: rgb(20,30,97);
//     border: 1px solid rgb(20,30,97);
//   }
// }

// // RESPECT THE ORDER OF THE RULES (PRECENDENCE IN ACTION ON THIS PAGE)

// .btn-sign {
//   padding: 8px 72px;
// }

// .extra-btn {
//   padding: 4px 32px;
//   background-color: rgb(40,40,40);
// }
