.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(rgb(80, 0, 202), rgb(80, 70, 202));
  transition: background 0.3s ease;
  border: 1px solid rgb(80, 0, 202);
}

.btn-gradient:hover {
  background: linear-gradient(rgb(80, 70, 202), rgb(80, 0, 202));
  color: white;
}
