.home-button {
  color: rgb(40,40,40);
  padding: 8px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  background: linear-gradient(#CEDFF8, #ACCEFF);
  font-weight: bold;
  border: 1px solid black;


  &:hover{
    text-decoration: none;
    background: linear-gradient(#ACCEFF, #9CBBFF);
    color: rgb(40,40,40);
  }
}
