// NAVBAR

.navbar {
  height: 10vh;
}

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1992F7;
  color: white !important;
}

.navbar-lewagon a {
  color:white;
  text-decoration: none;
}

.navbar-nav {
  gap: 5rem;
}

.logo {
  margin-left: 4rem;
  transform: scale(0.8);
}

.navbar-nav .nav-item {
  font-size: 2rem;
}

.navbar p {
  font-size: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
}

.nav-login-signup {
  font-size: 2rem;
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}

.nav-login-signup .nav-item {
  font-size: 2rem;
  margin-left: -1rem;
  transition: 200ms;
}

.navbar a:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}

.nav-login-signup .nav-item:last-child {
  margin-left: 2rem;
}

.light {
  font-weight: lighter;
}

.ionicon-add-contract {
  display: inline-block;
  transform: scale(4.5);
  vertical-align: -webkit-baseline-middle;
  transition: 300ms;

  &:hover {
    transform: scale(4);
    color: #044376;
    cursor: pointer;
  }
}

.nav-login-signup .p {
  transform: scale(1.3);
  margin-right: -2rem !important;
}
