
.nav_button {
  display: inline-block;
  outline: 0;
  border:0;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 10px;
  border-radius: 40px;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: rgb(4, 69, 246) -2px -2px 0px 2px, rgb(89, 91, 98) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
  :hover{
  box-shadow: rgb(89, 91, 98) -2px -2px 0px 2px, rgb(4, 69, 246) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
    }
  }
