// NAVBAR

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1992F7;
  color: white !important;
}

.navbar-lewagon a {
  color:white;
  text-decoration: none;
}

.navbar-nav {
  gap: 5rem;
}

.logo {
  margin-left: 2rem;
}

.navbar-nav .nav-item {
  font-size: 24px;
}

.navbar p {
  font-size: 24px;
  margin-right: 2rem;
  margin-bottom: 0;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-brand {
//   display: flex;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 75px;
//   border-radius: 400px;
//   border: 2px solid white;
//   margin-left: 1.5rem;
//   margin-top: 1rem
// }

// .navbar-nav {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 2rem;
// }

// .logo {
//   width: 100px;
// }

// .logo-text {
//   font-family: 'Freehand', cursive;
//   color: rgb(255, 255, 255);
//   align-self: center;
//   margin-top: 2rem;
//   margin-left: 2rem;
//   font-size: 1.5rem;
// }

// .nav-item-no-pic a {
//   color: rgb(255, 255, 255);
//   font-weight: bold;
//   text-transform: uppercase;
//   text-decoration: none;
//   transition: text-shadow 200ms;
//   font-size: 1.5rem;
//   margin-left: 2rem;

//   &:hover {
//     text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
//   }
// }

// .nav-item-no-pic a:last-child {
//   margin-left: 5rem;
// }

// .navbar-light .navbar-nav .nav-link:hover {
//  color: grey;
// }

// .btn-login {
//   margin-right: 3rem;
// }
