// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/button";
@import "pages/company_show";


// SELECT2 IMPORTATION ADDED BY AMIN
@import 'select2/dist/css/select2';

// PDF_SIGNATURE
@import 'pdf';
@import 'pdf_initials';

// Contacts
@import 'contracts/index';
@import 'contracts/new';
@import 'contracts/show';

// USER ACTIONS
@import "user-actions/login";
@import "user-actions/signup";

// PERSONAL DETAILS
@import "personal-details/show";


* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

html {
  font-size: 62.5%;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative
}

.section-title {
  display: inline-block;
  border-bottom: 3px solid #1992F7;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: bold;
  transition: transform ease-in 200ms;
  line-height: 5rem;

  &:hover {
    transform: translate(3%);
  }
}

.section-title-pad-bottom-fix {
  padding-bottom: 1.2rem;
  width: 15rem;
  margin: 0 auto;
}


@media (max-width: 713px) {
  .section-title {
    display: block !important;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 3.5rem;
  }
}
