// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/button";
@import "pages/company_show";


// SELECT2 IMPORTATION ADDED BY AMIN
@import 'select2/dist/css/select2';

// PDF_SIGNATURE
@import 'pdf';

// Contacts
@import 'contracts/index';
@import 'contracts/new';
@import 'contracts/show';

// USER ACTIONS
@import "user-actions/login";

// PERSONAL DETAILS
@import "personal-details/show";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255,255,255);
  background: linear-gradient(4deg, rgba(20,20,20,1) 30%, rgba(20,20,20,1) 30%, rgba(20,20,20,1) 32%, rgba(255,255,255,1) 34%, rgba(20,20,20,1) 36%, rgba(20,30,97,1) 38%, rgba(20,20,20,1) 40%);
  min-height: 100vh;

}
